ncmpcpp/error.log
.DS_Store
.netrwhist
.*pyc
.mypy_cache/
__pycache__/

# Ignore karabiner compiled assets.
darwin/config__karabiner/assets/
darwin/config__karabiner/automatic_backups/
darwin/config__karabiner/karabiner.json

# Ignore elpa packages.
common/emacs.d/elpa

# Ignore emacs cache files.
common/emacs.d/projectile*
common/emacs.d/.mc-lists.el
common/emacs.d/network-security.data
common/emacs.d/auto-save-list/
common/emacs.d/abbrev_defs
common/emacs.d/tramp
