ncmpcpp/error.log
.DS_Store
.netrwhist
.*pyc
.direnv/
.mypy_cache/
__pycache__/

# Ignore karabiner compiled assets.
darwin/config__karabiner/assets/
darwin/config__karabiner/automatic_backups/
darwin/config__karabiner/karabiner.json

# Ignore elpa packages.
common/emacs.d/elpa

# Ignore emacs cache files.
common/emacs.d/projectile*
common/emacs.d/.mclists.el
common/emacs.d/networksecurity.data
common/emacs.d/autosavelist/
common/emacs.d/abbrev_defs
common/emacs.d/tramp
