<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavLastRootDirectory</key>
	<string>~/Documents</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 520}</string>
	<key>NSWindow Frame alfredpreferences</key>
	<string>58 175 1100 602 0 0 1440 878 </string>
	<key>appearance.theme</key>
	<string>alfred.theme.darkandsmooth</string>
	<key>features.clipboard.enabled</key>
	<true/>
	<key>hotkey.default</key>
	<dict>
		<key>key</key>
		<integer>35</integer>
		<key>mod</key>
		<integer>1835008</integer>
		<key>string</key>
		<string>P</string>
	</dict>
	<key>lastTab</key>
	<string>appearance</string>
	<key>lastTabBuild</key>
	<string>227</string>
	<key>lastTabTS</key>
	<real>413624693.97736698</real>
	<key>version</key>
	<string>2.1.1</string>
</dict>
</plist>
