<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://pqrs.org/macosx/keyremap4macbook/files/appcast.xml</string>
	<key>SULastCheckTime</key>
	<date>2013-11-11T06:01:35Z</date>
	<key>WebKitDefaultFontSize</key>
	<integer>11</integer>
	<key>WebKitStandardFont</key>
	<string>Lucida Grande</string>
	<key>configList</key>
	<array>
		<dict>
			<key>identify</key>
			<string>config_1360171493_90341</string>
			<key>name</key>
			<string>Default</string>
		</dict>
	</array>
	<key>config_1360171493_90341</key>
	<dict>
		<key>custom.app_finder_switch_open_rename</key>
		<integer>1</integer>
		<key>custom.apple_keyboard_modifier_keys</key>
		<integer>1</integer>
		<key>custom.break_bad_habits</key>
		<integer>1</integer>
		<key>custom.command_arrows_to_page_up_page_down_home_end</key>
		<integer>1</integer>
		<key>custom.control_based_shortcuts</key>
		<integer>1</integer>
		<key>custom.control_based_tab_manipulation</key>
		<integer>1</integer>
		<key>custom.control_left_click_to_command_left_click</key>
		<integer>1</integer>
		<key>custom.ctrl_space_set_mark</key>
		<integer>1</integer>
		<key>custom.emacs_mode</key>
		<integer>1</integer>
		<key>custom.emacs_mode ModifierFlag::CAPSLOCK | ModifierFlag::NONE</key>
		<integer>1</integer>
		<key>custom.emacs_mode ModifierFlag::NONE</key>
		<integer>1</integer>
		<key>custom.fn_to_command</key>
		<integer>1</integer>
		<key>custom.hyper_click_support</key>
		<integer>1</integer>
		<key>custom.keepassx_copy_username_and_password</key>
		<integer>1</integer>
		<key>custom.logitech_g9_mouse_config</key>
		<integer>1</integer>
		<key>custom.mission_control_hacks</key>
		<integer>1</integer>
		<key>custom.mission_control_shortcuts</key>
		<integer>1</integer>
		<key>custom.override_sysdiagnose_shortcuts</key>
		<integer>1</integer>
		<key>custom.pause_break_to_eject</key>
		<integer>1</integer>
		<key>custom.pc_keyboard_modifier_keys</key>
		<integer>1</integer>
		<key>custom.pc_style_home_end</key>
		<integer>1</integer>
		<key>custom.simultaneouskeypresses_ss_to_capslock</key>
		<integer>1</integer>
		<key>custom.sysdiagnose_shortcut_hack</key>
		<integer>1</integer>
		<key>custom.zooom2_support</key>
		<integer>1</integer>
		<key>notsave.automatically_enable_keyboard_device</key>
		<integer>1</integer>
		<key>notsave.automatically_enable_pointing_device</key>
		<integer>1</integer>
		<key>parameter.acceleration_of_scroll</key>
		<integer>3</integer>
		<key>parameter.keyoverlaidmodifier_initial_modifier_wait</key>
		<integer>150</integer>
		<key>parameter.keyoverlaidmodifier_timeout</key>
		<integer>500</integer>
		<key>parameter.scrollwheeltokey_keyrepeat_wait</key>
		<integer>150</integer>
		<key>parameter.simultaneouskeypresses_delay</key>
		<integer>100</integer>
		<key>repeat.initial_wait</key>
		<integer>400</integer>
		<key>repeat.wait</key>
		<integer>33</integer>
	</dict>
	<key>isQuitByHand</key>
	<false/>
	<key>isStatusbarEnable</key>
	<false/>
</dict>
</plist>
