<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BatteryDisplayMode</key>
	<string>3,1</string>
	<key>CPUDisplayMode</key>
	<string>100,2</string>
	<key>CPUGroupItems</key>
	<integer>0</integer>
	<key>CPULimitHistoryGraph</key>
	<integer>0</integer>
	<key>CPUMultiple</key>
	<integer>1</integer>
	<key>CombinedMenubarDisplayMode</key>
	<string></string>
	<key>DisksMenubar</key>
	<array>
		<string>84CF88AE-0007-37F8-B080-A727DE023889</string>
	</array>
	<key>FanSpeedSets</key>
	<array>
		<dict>
			<key>name</key>
			<string>Medium</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>4100</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>4C15D47F-867A-4171-9358-FAA81DE58717</string>
		</dict>
		<dict>
			<key>name</key>
			<string>High</string>
			<key>speeds</key>
			<array>
				<dict>
					<key>fan</key>
					<string>F0Ac</string>
					<key>speed</key>
					<integer>6200</integer>
				</dict>
			</array>
			<key>uuid</key>
			<string>EC8D2B4A-A15A-4A9C-8967-81148069F80C</string>
		</dict>
	</array>
	<key>MemoryDisplayMode</key>
	<string>100,2</string>
	<key>MemoryIncludeInactive</key>
	<integer>1</integer>
	<key>MenubarGraphOpacity</key>
	<real>0.29640719294548035</real>
	<key>NetworkDisplayMode</key>
	<string>100,0</string>
	<key>SensorsMenubar</key>
	<array>
		<string>TCXC</string>
	</array>
	<key>SkinType</key>
	<integer>0</integer>
	<key>_mac_id</key>
	<string>8eb75a86b484f9aeb49c1cc86c34016c</string>
	<key>migratedExtras4.0</key>
	<true/>
	<key>sendDiagnostics</key>
	<false/>
	<key>skinColor</key>
	<integer>7</integer>
</dict>
</plist>
