<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame SUUpdateAlertFrame</key>
	<string>673 589 578 392 0 0 1920 1178 </string>
	<key>SULastCheckTime</key>
	<date>2014-02-09T05:59:28Z</date>
	<key>SULastProfileSubmissionDate</key>
	<date>2014-02-09T05:59:28Z</date>
	<key>SUScheduledCheckInterval</key>
	<real>10800</real>
	<key>SUSendProfileInfo</key>
	<true/>
	<key>app_icons_size</key>
	<integer>0</integer>
	<key>app_switcher_delay</key>
	<integer>0</integer>
	<key>app_switcher_delay_subsequent</key>
	<integer>0</integer>
	<key>app_switcher_window_previews</key>
	<false/>
	<key>blurry_background</key>
	<false/>
	<key>fullscreen_preview</key>
	<true/>
	<key>not_first_launch</key>
	<true/>
	<key>run_in_background</key>
	<true/>
	<key>send_debugging_statistics</key>
	<false/>
	<key>shift_to_cycle_backwards</key>
	<true/>
	<key>show_prefs_on_next_launch</key>
	<false/>
	<key>snaphot_quality</key>
	<integer>2</integer>
	<key>welcome_window_shown</key>
	<true/>
	<key>window_preview_size</key>
	<real>181.24264705882354</real>
	<key>window_switcher_delay</key>
	<integer>0</integer>
</dict>
</plist>
