<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>login_init</string>
    <key>RunAtLoad</key>
    <true />
    <key>Program</key>
    <string>/Users/calvin/.scripts/login_init.sh</string>

    <!-- Prevent launchd from killing all child processes on completion -->
    <key>AbandonProcessGroup</key>
    <true/>
  </dict>
</plist>
